/* src/components/MessageBoard.css */
.update-banner {
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00c853;
  font-size: 14px;
}

.dismiss-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
